@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-section {
  background: url("/herobg.jpeg") no-repeat cover center !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@layer base {
  body {
    @apply dark:bg-gray-800 bg-white;
  }
}
